name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run release

      - name: Extract tag from semantic-release
        if: success()
        run: |
          TAG=$(git describe --tags --abbrev=0)
          if [ -z "$TAG" ]; then
            echo "No new version was created. Skipping Docker build and push."
            echo "SKIP_DOCKER=true" >> $GITHUB_ENV
          else
            echo "TAG=$TAG" >> $GITHUB_ENV
            echo "SKIP_DOCKER=false" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        if: env.SKIP_DOCKER == 'false'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        if: env.SKIP_DOCKER == 'false'
        run: |
          docker build . -t ${{ secrets.DOCKER_USERNAME }}/flynow:${{ env.TAG }}

      - name: Push Docker image to Docker Hub
        if: env.SKIP_DOCKER == 'false'
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/flynow:${{ env.TAG }}
